
h1{
    background-color: rgb(26, 148, 46);
    color: rgb(26, 26, 26);
    margin-right: 88px;
    margin-left: 88px;
    text-align: center;
    border-radius: 25px;
}
html{
    background-color: rgb(39, 39, 39);
}
body{
    align-items: center;
}
.gif{
    display: flex;
    justify-content: center;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px; /* Adjust the margin as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(9, 107, 5);
    color: #fff;
    border: none;
    border-radius: 5px;
    /*transition: transform 0.9s ease;*/
}

/*button:hover {
    transform: rotateZ(360deg);
}*/

.horizontal-btns {
    display: flex;
    justify-content: center;
}
