body { 
    margin: 0; padding: 0; 
}

#map { 
    position: absolute; top: 0; bottom: 0; width: 100%; 
}

.mapboxgl-ctrl-logo{
    display: none !important;
}

.home-container{
    display: flex;
    position: absolute;
    z-index: 2 !important;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background-color: rgb(42, 114, 40);
    width: 70px;
    border-radius: 5px;
    height: 35px;
    align-items: center;
    justify-content: center;
}